/* Small viewport styles */

html {
    /*background-color: transparent !important;*/
    /*background-color: rgb(35,35,49);*/
}

body {
    background-color: rgb(241, 241, 241);
    -webkit-font-smoothing: antialiased;
}

/*@media (max-width: 500px) {*/
/**/
/*}*/
/**/
/*@media (min-width: 767px) {*/
/*    .hide-admin-drawer {*/
/*        display: none;*/
/*    }*/
/*}*/
.view-toolbar {
    display: flex;
    /*background-color: var(--lumo-base-color);*/
    /*box-shadow: 0 1px 0 0 var(--lumo-contrast-10pct);*/
    margin: 0 calc(-50vw + 50%);
    padding: 8px calc(50vw - 50% + 16px);
    position: relative;
    z-index: 1;
    flex: none;
}

.view-toolbar-background {
    /*background-color: var(--lumo-base-color);*/
    box-shadow: 0 1px 0 0 var(--lumo-contrast-10pct);
}

.view-toolbar__search-field {
    flex: auto;
    min-width: 0;
    /*width: 100%;*/
    margin-right: 16px;
}

.admin-layout__nav-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.3s color, 0.3s transform;
    will-change: transform;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-secondary-text-color);
    font-weight: 500;
    line-height: 1.3;
}

.admin-layout__nav-item:hover {
    text-decoration: none;
}

.admin-layout__nav-item:not([highlight]):hover {
    color: inherit;
}

.admin-layout__nav-item[highlight] {
    color: var(--lumo-primary-text-color);
    /*color: green;*/
    cursor: default;
}

.admin-layout__nav-item iron-icon {
    /* Vaadin icons are using a 16x16 grid */
    padding: 4px;
    box-sizing: border-box;
    pointer-events: none;
}


@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
    .hide-admin-menu {
        display: none;
    }
    .hide-admin-grid {
        display: none;
    }
    /*.order-icon-shedule {*/
    /*    display: none;*/
    /*}*/
}

@media (min-width: 767px) {
    /*.trip-detail-width {*/
    /*    width: 640px*/
    /*}*/
    .hide-admin-drawer {
        display: none;
    }

    .hide-admin-panel {
        display: none;
    }
    /*.order-icon-shedule {*/
    /*    color: green;*/
    /*    margin-left: 5px;*/
    /*    margin-top: 5px;*/
    /*    height: 14px;*/
    /*}*/
}


/*vaadin-accordion-heading::part(toggle){*/
/*    margin-left: 10px;*/
/*}*/
/*vaadin-accordion-heading::part(content) {*/
/*    background-color: lightgray;*/
/*    font-weight: 700;*/
/*    font-size: 14px;*/
/*}*/


vaadin-grid::part(header-cell){
    background-color: rgb(236, 236, 236);
    color: black;
    /*background-color: gray;*/
    /*color: white;*/
    font-weight: bold;
    border: none;
    text-transform: uppercase;
}

vaadin-accordion-heading::part(toggle){
    margin-left: 10px;
}
vaadin-accordion-heading::part(content) {
    /*background-color: lightgray;*/
    font-weight: 700;
    font-size: 14px;
}